:root {
    --main-color: #7BB0C1;
    --font-white: #fff;
    --font-black: #000;
    --font-gray: #E3E3E3;
    --font-gold:#FFD700;
    --font-red:#FF0000;
    --font-blue:#0E6EB8;
    --font-green:#8EC31F;
    --font-yellow:#FFE500;
    --font-navy:#092F4D;
    --font-footer-background-color: #363636;
    --background-color-gray:#e3e3e3;
}

header img {
    position: absolute;
    width: 240px;
    height: 70px;
    left: 120px;
    top: 0px;
    
}
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

.header-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 120px;
}
.menu{
    padding: 30px 0px;
    position: absolute;
    width: 518px;
    height: 10px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    font-size: 16px;
    font-weight: bold;
}

.banner-box {
    width: 1440px;
    height: 760px;
    background-image: url(../img/sarang.jpeg);
    background-size: cover;
}

.first-text {
    position: absolute;
    left: 53.96%;
    right: 8.33%;
    top: 23.03%;
    bottom: 63.55%;
    color: var(--font-white);
    font-size: 30px;
    font-weight: 400;
    line-height: 150%;
/* or 45px */
    text-align: right;
}
.main-text-title {
    font-size: 40px;
    font-weight: 700;
}

.title-appeal {
    position: absolute;
    right: 8.33%;
    top: 42.5%;
    bottom: 54.34%;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--font-gold);
}

.main-quick {
    position: absolute;
    width: 1440px;
    height: 200px;
    left: 0px;
    top: 760px;
    background-color: var(--font-white);
}

.quick-wrapper {
    display: flex;
    margin-top: 58px;
    margin-left: 120px;
}
.menu-title {
    width: 600px;
    height: 102px;
    left: 118px;
    top: 818px;
}
.menu-title h2 {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: var(--font-blue);
}

.menu-title p {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}

.menu-title span {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
}

.menu-icon {
    width: 70px;
    height: 70px;
}

.menu-icon p {
    font-size: 13px;
    font-weight: 600;
    /* width: 100px; */
    margin-top: 15px;
    text-align: center;
}

.menu-list ul {
    display: flex;
    gap: 20px;
    width: 529px;
    height: 102px;
}

.main-intro {
    width: 1440px;
    height: 612px;
    top: 960px;
}

.building {
    display: flex;
}

.building img {
    width: 412px;
    height: 547px;
    margin-left: 120px;
}

.ideology img {
    position: absolute;
    width: 842px;
    height: 447px;
    left: 478px;
    top: 300px;
    z-index: 1;
    
}

.main-intro {
    width: 1440px;
    height: 612px;
    left: 0px;
    top: 960px;
    background-color: var(--font-white);
}
.text-container {
    position: relative;
    text-align: centet;
}
.text-container span {
    font-weight: 600;
    font-size: 20px;
    line-height: 48px;
}
